.product-details {
  display: flex;
  justify-content: center;
  background-color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  padding-top: 32px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin: 0;
  margin-right: 40px;
  padding-left: 32px;
}

.product-details-image {
  width: 680px;
  height: auto;
  max-width: 100%;
}

.product-details-header {
  margin-right: 32px;
}

.product-details-footer {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.product-details-header-title {
  font-weight: bold;
  font-size: 24px;
}
.product-details-header-title::first-letter {
  text-transform: capitalize
}

.product-details-header-price {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 46px;
  font-weight: normal;
}

.product-details-header-condition-sold {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

.product-details-header-condition-sold-capitalized::first-letter {
  text-transform: capitalize;
}

.product-details-header-btn-buy {
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  border-radius: 3px;
  background-color: #3483fa;
  border-color: #3483fa;
  color: white;
  width: 100%;
}

.product-details-footer-title {
  font-size: 28px;
  color: #333333;
}

.product-details-footer-description {
  color: #999999;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 16px;
  word-wrap: break-word;
  line-height: 135%;
}

@media (min-width: 1200px) {
  .product-details {
      max-width: 1140px;
  }
}
